<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.organforce.futuretext"
      android:versionCode="2"
      android:versionName="1.0.1">
    <uses-sdk android:minSdkVersion="7" />
    <application android:icon="@drawable/icon" android:label="@string/app_name"
    	android:theme="@android:style/Theme.NoTitleBar">
        <activity android:name=".TextList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewText"/> 
        <activity android:name=".ViewText"/> 
        <activity android:name=".HistoryList"/> 
        <activity android:name=".About"/> 
        <service android:name=".ScheduledTextService"/>
	    <receiver android:name="BootReceiver">
	    	<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"></action>
			</intent-filter>
		</receiver>
	</application>
    <uses-permission android:name="android.permission.SEND_SMS">
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_SMS">
    </uses-permission>
    <uses-permission android:name="android.permission.READ_CONTACTS">
    </uses-permission>
</manifest>